doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href="css/style.css")
    title Burnstudio
  body
    nav.wow.fadeIn
        .container
            .row
                .col-md-3
                    h1
                        a(href="#brnstudio" class="hover") burn
                            span studio
                .col-md-9
                    ul.navigation
                        li 
                            a(href="#portfolio") portfolio
                        li /
                        li 
                            a(href="#about") about me
                        li /
                        li 
                            a(href="#") contact me
    hr#brnstudio(style="padding-top:100px;")
    
    //-----------------------HERO-------------------------
    
    section.hero.text-center.wow.fadeIn
        .container
            h2 I'm a Graphic/Web Designer based in Philippines
            p This is a Photoshop's version of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            button(class="btn btn-dark")
                a Hire me
            
    hr
    
    //-------------------LAST PROJECTS-----------------
    
    section.last-projects.wow.fadeInUp#portfolio
        .container
            h2 My Latest Project
            .row
                .col-md-4
                    a(href="#")
                        .card.w-100.hover(style='width: 18rem;')
                          img.card-img-top(src='img/img.jpg', alt='Webdesign freelancer')
                          .card-body
                            h5.card-title 1WD.TV Project
                            p.card-text
                              |Web design, Freelance

                .col-md-4
                    a(href="#" class="hover")
                        .card.w-100.hover(style='width: 18rem;')
                          img.card-img-top(src='img/img.jpg', alt='Webdesign freelancer')
                          .card-body
                            h5.card-title 1WD.TV Project
                            p.card-text
                              |Web design, Freelance

                .col-md-4
                    a(href="#" class="hover")
                        .card.w-100.hover(style='width: 18rem;')
                          img.card-img-top(src='img/img.jpg', alt='Webdesign freelancer')
                          .card-body
                            h5.card-title 1WD.TV Project
                            p.card-text
                              |Web design, Freelance
                
                   
    //----------------BOTTOM-----------------
    
    section.bottom.wow.fadeInUp#about
        .container
            .row
                .col-md-6
                    .about-me
                        h2 About me
                        p This is a Photoshop's version of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni 
                        .social
                            ul 
                                li 
                                    a(href="#")
                                        i(class="fab fa-facebook")
                                li 
                                    a(href="#")
                                        i(class="fab fa-twitter-square")
                                li 
                                    a(href="#")
                                        i(class="fas fa-rss")
                .col-md-6
                    .whats-new
                        h2 What's New?
                        .row
                            .col-md-5
                                img.img-fluid(src="img/img.jpg" alt="Img")
                            .col-md-7  
                                h3 
                                    a(href="#") This is a photoshop's version of Lorem Ipsum
                                p
                                    a(href="#") Web Design
                                    |  January 28, 2013 - 
                                    a(href="#") Admin
                        hr
                        .row
                            .col-md-5
                                img.img-fluid(src="img/img.jpg" alt="Img")
                            .col-md-7   
                                h3 
                                    a(href="#") This is a photoshop's version of Lorem Ipsum
                                p
                                    a(href="#") Web Design
                                    |  January 28, 2013 - 
                                    a(href="#") Admin
                        hr

    
    //-----------------------FOOTER----------------------------
    
    footer.wow.fadeInUp
        .container
            .row
                .col-md-3
                    p
                        | Copyright 2013
                        a(href="#")  Burnstudio
                .col-md-9
                    ul.navigation
                        li 
                            a(href="" class="active") portfolio
                        li(style="color: rgba(0, 0, 0, .5);") /
                        li 
                            a(href="") about me
                        li(style="color: rgba(0, 0, 0, .5);") /
                        li 
                            a(href="") contact me
                            
                    
    script(src='js/jquery.min.js')
    script(src='js/wow.min.js')
    script.  
        new WOW().init();
    script(src='js/script.js')
    
  
